<?xml version="1.0"?>
<launch>

    <param name="robot_description" textfile="$(find mrm_desp)src/urdf/mrm.urdf"/>
    
    <include file="$(find gazebo_ros)/launch/empty_world.launch" />
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model mrm_desp"    />

    <node name="RSP" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

        
   
    

</launch>